<html>
  <head>
    <title>{{ .title }}</title>
    <link
      rel="stylesheet"
      href="http://localhost:8080/static/css/bulma.min.css"
    />
  </head>

  <body>
    <nav
      class="navbar is-link title is-4"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="http://localhost:8080/static/icons/certificate.svg" />
          <span class="ml-2">{{ .title }}</span>
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item mx-2" href="/issue">Issue Certificate</a>
      </div>
    </nav>
    <section class="section">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="title is-2 my-6">AKA-DEMY</p>
                  <p class="subtitle my-2">This is to certify that</p>
                  <p class="title my-4">{{ .name }}</p>
                  <p class="subtitle my-2">has successfully completed</p>
                  <p class="title is-4 my-4">{{ .course }}</p>
                  <p class="subtitle my-2">with</p>
                  <p class="title is-4 my-4">{{ .grade }} Grade</p>
                  <div class="columns mt-6 mb-4">
                    <div class="column ml-5">
                      <p class="subtitle has-text-left">
                        Certificate ID: {{ .id }}
                        <br />
                        Date: {{ .date }}
                        <br />
                        Place: Trivandrum, India
                      </p>
                    </div>
                    <div class="column mr-5">
                      <p class="subtitle has-text-right">
                        (sd/-)
                        <br />
                        Director
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
