<html>

<head>
  <title>Issue Certificate</title>
  <link rel="stylesheet" href="http://localhost:8080/static/css/bulma.min.css" />
</head>

<body>
  <nav class="navbar is-link title is-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="http://localhost:8080/static/icons/certificate.svg" />
        <span class="ml-2">{{ .title }}</span>
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item mx-2" href="/issue">Issue Certificate</a>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <h3 class="title is-3">Issue New Certificate</h3>

      <!-- form component -->
      <form class="{{ .form }}" action="/issue" method="post">
        <div class="field">
          <label class="label is-size-4">Certificate ID</label>
          <div class="control">
            <input class="input is-size-5" name="id" type="number" placeholder="000" required />
          </div>
        </div>

        <div class="field">
          <label class="label is-size-4">Name</label>
          <div class="control">
            <input class="input is-size-5" name="name" type="text" placeholder="John Doe" required />
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label class="label is-size-4">Course</label>
            <div class="select is-size-5 is-fullwidth">
              <select name="course" required>
                <option hidden value="">Select Course</option>
                <option value="Certified Blockchain Associate">
                  Certified Blockchain Associate
                </option>
                <option value="Certified Ethereum Developer">
                  Certified Ethereum Developer
                </option>
                <option value="Certified Hyperledger Fabric Developer">
                  Certified Hyperledger Fabric Developer
                </option>
                <option value="Certified Blockchain Architect">
                  Certified Blockchain Architect
                </option>
              </select>
            </div>
          </div>

          <div class="column">
            <label class="label is-size-4">Grade</label>
            <div class="select is-size-5 is-fullwidth">
              <select name="grade" required>
                <option hidden value="">Select Grade</option>
                <option value="S">S</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select>
            </div>
          </div>

          <div class="column">
            <label class="label is-size-4">Date</label>
            <input class="input is-size-5" name="date" type="date" required />
          </div>
        </div>

        <div class="field is-grouped mt-6">
          <div class="control">
            <button class="button is-link is-size-5" type="submit">
              Submit
            </button>
          </div>
          <div class="control">
            <button class="button is-link is-light is-size-5" type="reset">
              Cancel
            </button>
          </div>
        </div>
      </form>

      <!-- message component -->
      <div class="{{ .message }} notification is-success is-size-4">
        Certificate for ID: {{ .issuedID }} issued successfully!!
      </div>
    </div>
  </section>
</body>

</html>